<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Lista de Empleados</span>
      <button
        type="button"
        class="btn btn-dark btn-md float-end"
        routerLink="/create-empleado"
      >
        Agregar
      </button>
      <h5 style="margin-top: 30px" *ngIf="empleados.length == 0">
        No hay datos para mostrar
      </h5>
      <table *ngIf="empleados.length > 0" class="table table-striped mt-4">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Salario</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados">
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.documento }}</td>
            <td>{{ empleado.salario | currency }}</td>
            <td>
              <i
                class="fas fa-edit fa-lg text-info me-2"
                [routerLink]="['/edit-empleado/', empleado.id]"
              ></i>
              <i
                (click)="eliminarEmpleado(empleado.id)"
                class="fas fa-trash fa-lg text-danger"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
